.header {
    display: grid;
    height: 293px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__logo {
    width: 139px;
    height: 102px;
    padding-left: 4px;
}

.header__menu {
    margin-left: 50px;
}

.header__links-list {
    display: flex;
    gap: 30px;
    text-transform: lowercase;
}

.header__links-list-item {
    list-style: circle;
    padding-left: 3px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__link {
    text-decoration: underline;
}

.address {
    display: flex;
    flex-direction: column;
    font-style: normal;
}

.header__address {
    width: 240px;
    margin-left: 189px;
    font-size: 19px;
    margin-bottom: 5px;
    margin-top: 10px;
    line-height: 24.7px;
}

.address__link {
    text-decoration: underline;
}

.cover {
    position: relative;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.cover__title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 100px;
    letter-spacing: 30px;
    line-height: 135px;
    padding-top: 155px;
    padding-left: 45px;
    padding-right: 22px;

}

.aligned-text {
    display: block;
    padding-left: 8px;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.overlay {
    position: absolute;
    background-color: black;
    opacity: 60%;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.cover__description {
    display: flex;
    align-items: center;
    color: white;
    text-transform: uppercase;
    padding-top: 100px;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.cover__description-text {
    word-spacing: 18.5px;
    font-size: 22px;
}

.bet-button{
    width: 256px;
    height: 51px;
    font-family: "Raleway", sans-serif;
    font-style: medium;
    text-transform: uppercase;
    font-size: 22px;
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-color: white;
    

}

.lots {
    position: relative;
    height: 723px;
    margin-top: 180px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 120px;
}

.lots__heading {
    text-transform: uppercase;
    color: black;
    font-size: 40px;
    font-style: bold;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list { 
    display: flex;
    justify-self: start;
    gap: 25px;
    flex-direction: row;
}

.lots__card-list-item {
    display: flex;
    width: 334px;
    min-height: 596px;
    color: white;
    
}

.card {
    display: flex;
    position: relative;
    width: 334px;
    height: 596px;
    flex-direction: column;
    
}

.card__title {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    font-size: 22px;
    margin-top: 48px;
    font-weight: 700;
    margin-left: 40px;
    margin-bottom: auto;
    width: 254px;
    height: 110px;
    padding-top: 2px;
}

.card-link{
    height: 100%;
    text-decoration: underline;
}

.card__text {
    display: flex;
    justify-content: flex-end;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 48px;
}


.card_type_film {
    position: absolute;
    background-image: url(../images/card-lot-01.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.card_type_book {
    position: absolute;
    background-image: url(../images/card-lot-02.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    background-position: center;
}

.card_type_picture {
    position: absolute;
    background-image: url(../images/card-lot-03.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.lots__look-more-link {
    display: block;
    margin-top: 35.2px;
    margin-left: 40px;
    margin-bottom: 2px;
    font-family: "Raleway", sans-serif;
    text-decoration: underline;
    text-transform: lowercase;
    font-size: 20px;
    line-height: 100%;
    font-style: normal;
}
.about {
    display: grid;
    width: 1052px;
    height: 595px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 180px;
}


.about__column {
    width: 240px;
    height: 240px;
    margin-bottom: 277px;
    margin-left: 72px;
}

.about__column_text {
    margin-left: 24px;
    margin-right: 24px;
    width: 693px;
    height: 449px;
    display: flex;
    flex-direction: column;
}

.about__logo {
    background-color: black;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    align-content: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin-left: 46.48px;
}

.about__title {
    margin-top: 136px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
    width: 291px;
    height: 47px;
    margin-bottom: 100px;
    margin-top: 65px;
    margin-left: 47px;
}

.extension__class {
    margin-bottom: 24px;
    width: 668px;
    height: 120px;
}

.second__extension__class {
    width: 693px;
    height: 168px;
}



.about__text {
left: 0px;
top: 294px;
margin-left: 47px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;


}

footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    height: 180px;
    margin-top: 180px;
    font-family: "Raleway", sans-serif;
    align-items: center;
    font-size: 18px;
}

.footer__address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    margin-left: 50px;
    width: 264.57px;
    height: 98px;
    margin-bottom: 70px;
    line-height: 24.4px;
}

.footer__menu {
    text-transform: lowercase;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 109px;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    width: 240px;
    height: 48px;
    
}

.footer__list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 185px;
    gap: 48px;
    margin-right: 50px;
    margin-bottom: 121px;
}

.footer__social-icon {
    height: 48px;
    width: 48px;
}